[basic]
filename_in   = new_epson.xlsx
filename_out  = csv_epson_option.csv
filename_old  = old_epson.xlsx
sheetname     = Опции
срок годности = 180           # период устаревания прайса в днях

                            #     !!!  ВАЖНО !!!    Имена полей должны быть lowercase !
[cols_in]                   # Проставить номер импортируемым колонкам. Остальным - пусто
код_         = 1
подгруппа    = 1
наименование = 2
проекц_отн   = 3
сдвиг_       = 4
зум_         = 5
комментарии_ = 6
цена1        = 9
цена2        = 9


[cols_out]                  # Выводимым колонкам проставить названия входных полей, остальным - пусто
Продажа      = цена2
Закупка      = цена1
Бренд        = EPSON
Группа       = ОПЦИИ
Подгруппа    = подгруппа
Код          = код_
Код производителя = код_
Наименование = ОПЦИИ подгруппа наименование, код_
Описание     = ОПЦИИ подгруппа наименование
			   Проекционное отношение: проекц_отн
               Сдвиг: сдвиг_
               Зум: зум_
               Комментарии: комментарии_,
               наименование, код_
?            = ?
